[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.12.1"
django = "==5.2.17"
django-debug-toolbar = "==8.0.0"
django-filter = "==26.1"
djangorestframework = "==3.18.0"
pillow = "==12.3.0"
sqlparse = "==0.6.0"
typing-extensions = "==4.16.0"

[dev-packages]

[requires]
python_version = "3.14"
